body{
    /* background: linear-gradient(70deg, rgb(22, 22, 22), rgb(40, 0, 63)); */
    background-color: rgba(0, 0, 0, 0.974);
    background-size: cover;
    color: aliceblue ;
    font-family: 'Silkscreen', cursive;
    background-attachment: fixed;
}

::selection{
    color: aliceblue;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-nav{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17.1ch;
    margin-top: 1em;
    margin-left: 15px;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
    color: aliceblue;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

main{
    margin-top: 130px;
}

.subtitulo{
    font-size: 17px;    
}

.parrafos{
    padding-left: 25px;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}

.error{
    color: red;
}   

.container{
    text-align: center;
}

#form-search{
    font-size: 22px;
}

.container-answer{
    font-size: 25px;
    margin-top: 40px;
    color: aliceblue;
}

#divisa{
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-color: black;
}

#criptodivisa{
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-color: black;
}

.submit{
    background-color: black;
    color: aliceblue;
    border-color: black;
}

footer{
    color: aliceblue;
    position: absolute;
    bottom: 0;
    margin-left: 3em;
    padding-bottom: 1.5em;
}

.swal2-popup{
    background-color: black;
}

.swal2-icon.swal2-error {
    border-color: aliceblue;
    color: aliceblue;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: aliceblue;
}

.swal2-title{
    color: aliceblue;
}

swal2-html-container{
    color: aliceblue; 
}

.swal2-confirm swal2-styled{
    background-color: aliceblue;
    color: aliceblue;
}

.swal2-styled.swal2-confirm{
    background-color: aliceblue;
    color: black;
    border: none;
}

.swal2-html-container{
    color: aliceblue;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.btn-secondary{
    background-color: black;
}

.btn-primary{
    background-color: aliceblue;
    border: aliceblue;
    margin-left: 20px;
    /* --bs-btn-bg: rgb(39 1 61);
    --bs-btn-border-color: rgb(39 1 61);
    --bs-btn-hover-bg: rgb(39 1 61);
    --bs-btn-hover-border-color: rgb(39 1 61);
    --bs-btn-active-bg: rgb(39 1 61);
    --bs-btn-active-border-color: rgb(39 1 61);
    --bs-btn-disabled-bg: rgb(39 1 61);
    --bs-btn-disabled-border-color: rgb(39 1 61); */
}

.btn-secondary {
    background-color: aliceblue;
    border:aliceblue;
    border-radius: 0%;
    margin-left: 20px;
    --bs-btn-bg: rgb(39 1 61);
    --bs-btn-border-color: rgb(39 1 61);
    --bs-btn-hover-bg: rgb(39 1 61);
    --bs-btn-hover-border-color: rgb(39 1 61);
    --bs-btn-active-bg: rgb(39 1 61);
    --bs-btn-active-border-color: rgb(39 1 61);
    --bs-btn-disabled-bg: rgb(39 1 61);
    --bs-btn-disabled-border-color: rgb(39 1 61);
}

.modal-title{
    color: aliceblue;
}

.modal-body{
    color: aliceblue;
}

.modal-footer{
    color: aliceblue;
}

@media (max-width: 1000px) {
    *{ 
        color: aliceblue;
    }
    .parrafos{
        color: aliceblue;
    }
    #divisa{
        color: aliceblue;
    }
    #criptodivisa{
        color: aliceblue;
    }
    .submit{
        color: aliceblue;
    }
    .title-nav{
        color: aliceblue;
    }
    .by{
        color: aliceblue;
    }
    .submit{
        margin-top: 0.5em;
    }
}

@media (max-width: 770px) {
    #form-search{
        display: flex;
        flex-direction: column;
    }
    #criptodivisa{
        margin-top: 0.5em;
    }
    .container-answer{
        font-size: 1em;
    }
}

@media (max-width: 525px) {
    .title-nav{
        font-size: 1.6em;
        padding: none;
        margin: none;
    }
    .parrafos{
        font-size: 1.2em;
    }
    #divisa{
        font-size: 0.8em;
    }
    #criptodivisa{
        font-size: 0.8em;
    }
    .submit{
        font-size: 0.8em;
    }
    option{
        font-size: 0.8em;
    }
    *{
        padding-left: 0.1em;
        padding-right: 0.1em;
    }
    .container-answer{
        font-size: 0.8em
    }
    .by{
        margin-left: -22px;
        margin-bottom: 0;
    }
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% { border-color: transparent}
}